@font-face{font-family:myriad pro;font-style:normal;font-weight:400;src:local('Myriad Pro'),url(https://fonts.cdnfonts.com/s/492/MYRIADPRO-REGULAR.woff) format('woff')}@font-face{font-family:myriad pro;font-style:normal;font-weight:400;src:local('Myriad Pro'),url(https://fonts.cdnfonts.com/s/492/MYRIADPRO-COND.woff) format('woff')}@font-face{font-family:myriad pro;font-style:italic;font-weight:400;src:local('Myriad Pro'),url(https://fonts.cdnfonts.com/s/492/MYRIADPRO-CONDIT.woff) format('woff')}@font-face{font-family:myriad pro;font-style:normal;font-weight:300;src:local('Myriad Pro'),url(https://fonts.cdnfonts.com/s/492/MyriadPro-Light.woff) format('woff')}@font-face{font-family:myriad pro;font-style:normal;font-weight:600;src:local('Myriad Pro'),url(https://fonts.cdnfonts.com/s/492/MYRIADPRO-SEMIBOLD.woff) format('woff')}@font-face{font-family:myriad pro;font-style:italic;font-weight:600;src:local('Myriad Pro'),url(https://fonts.cdnfonts.com/s/492/MYRIADPRO-SEMIBOLDIT.woff) format('woff')}@font-face{font-family:myriad pro;font-style:normal;font-weight:700;src:local('Myriad Pro'),url(https://fonts.cdnfonts.com/s/492/MYRIADPRO-BOLDCOND.woff) format('woff')}@font-face{font-family:myriad pro;font-style:normal;font-weight:700;src:local('Myriad Pro'),url(https://fonts.cdnfonts.com/s/492/MYRIADPRO-BOLD.woff) format('woff')}@font-face{font-family:myriad pro;font-style:italic;font-weight:700;src:local('Myriad Pro'),url(https://fonts.cdnfonts.com/s/492/MYRIADPRO-BOLDIT.woff) format('woff')}@font-face{font-family:myriad pro;font-style:italic;font-weight:700;src:local('Myriad Pro'),url(https://fonts.cdnfonts.com/s/492/MYRIADPRO-BOLDCONDIT.woff) format('woff')}
/* Common css start  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol, ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    width: 940px;
    margin: 0 auto;
}
.clr{
    clear: both;
}
/* Common css end */
/* Header start  */
#header{
    background: #0872b9;
    height: 32px;
}
.header-cont{
    /* background: plum; */
    height: 32px;
}
.header-text{
    width: 50%;
    height: 32px;
    /* background: #471818; */
    float: left;
}
.header-icon{
    width: 50%;
    height: 32px;
    /* background: rgb(26, 51, 51); */
    float: left;
}
.header-text p{
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 32px;
}
.header-icon a{
    font-size: 14px;
    color: white;
    float: right;
    margin:10px 16px;
    transition: all linear 0.5s;
}
.header-icon a:hover{
    color: #353535;
}
/* Header end   */
/* Navbar Start  */
#navbar{
    height: 80px;
    /* background: #452727; */
    position: relative;
}
.logo img{
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav-item ul li{
    float: right;
}
.nav-item ul li a{
    line-height: 80px;
    margin-left: 15px;
    font-size: 14px;
    color: #353535;
    font-family: 'Roboto', sans-serif;
    transition: all linear 0.5s;
}
.nav-item ul li a:hover{
    color: #2784c2;

}
#banner{
    background: url(../images/Banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 40px;
    position: relative;
    z-index: 1;
}
#banner:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
.banner-text{
    text-align: right;
}
.
.banner-text p{
    /* width: 460px; */
    padding: 0 0 0 369px;
    color: white;
}
.banner-btn a{
    font-family: 'roboto';
    margin: 20px;
    border: 2px solid #fff;
    padding: 10px 22px ;
    color: white;
    background: transparent ;
    transition: all linear 0.5s;
}
.banner-btn a:hover{
    background:#0872b9;
}
.banner-text h2{
    font-family: 'Lato';
    font-family:myriad pro;
    color: white;
    font-size: 30px;
}
.banner-text h1{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 40px;
    
}
.banner-text p{
    font-family: 'Nunito Sans';
    font-size: 18px;
    color: white;
    padding: 20px 0 32px 400px;
}
/* Navbar end  */